:root {
    /* #### Text */
    --color-very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --color-soft-red: hsl(14, 88%, 65%);
    --color-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --color-dark-grayish-blue: hsl(240, 6%, 50%);
    /* Background gradient: */
    --color-soft-violet: hsl(273, 75%, 66%);
    --color-soft-blue: hsl(240, 73%, 65%);
    /* #### Dividers */
    --color-light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background: linear-gradient(var(--color-soft-violet), var(--color-soft-blue)) no-repeat;
    height: 100vh;
    padding: 0 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 778px;
    min-width: 375px;
    height: 100vh;
}

.content::before {
    content: "";
    background: url(images/illustration-woman-online-mobile.svg);
    background-position: center top, top center;
    background-repeat: no-repeat;
    position: absolute;
    height: 150px;
    top: -90px;
    left: 0;
    right: 0;
}

.content {
    background-color: white;
    border-radius: 15px;
    padding: 0 1.5rem;
    padding-bottom: 1rem;
    min-width: 100px;
    max-width: 778px;
    margin: 0 auto;
    position: relative;
}

.image {
    background: url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 200px;
    width: 100%;
    height: 115px;
}

.title {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

/* function */

.content__question.active .question {
    font-weight: bold;
    transition: font-weight 1s ease;
}

.content__question {
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-light-grayish-blue);
    cursor: pointer;
    transition: all 1.4s ease;
}

.question__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.question {
    color: var(--color-very-dark-grayish-blue);
    font-weight: 400;
    font-size: .9rem;
    margin-right: .5rem;
}

.fa-chevron-down {
    color: var(--color-soft-red);
}

.answer {
    color: var(--color-dark-grayish-blue);
    font-size: .8rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s cubic-bezier(.46, .03, .52, .96);
}

/* function */

.content__question.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.content__question.active .fa-chevron-down {
    transform: rotate(180deg);
}

.fa-chevron-down {
    transition: transform .5s ease-in;
}

.attribution {
    font-size: 11px;
    text-align: center;
    width: 100%;
}

.attribution a {
    color: white;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (min-width: 900px) {
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        column-gap: 2rem;
        overflow: hidden;
    }
    .content::before {
        display: none;
    }
    .content__desktop {
        width: 50%;
    }
    .image__wrapper {
        width: 50%;
        height: 300px;
        position: relative;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image {
        background: url(images/illustration-woman-online-desktop.svg) no-repeat center center / contain;
        position: absolute;
        left: -100px;
        width: 400px;
        height: 300px;
    }

    .container::before {
        content: "";
        background: url(images/illustration-box-desktop.svg)no-repeat center center / contain;
        width: 150px;
        height: 150px;
        position: absolute;
        left: -48px;
        z-index: 1;
        top: 263px;
        animation: moveUp 3s infinite;
    }

    @keyframes moveUp {
        0%{
            top: 263px;
        }
        50%{
            top: 253px;
        }
        100%{
            top: 263px;
        }
    }
}